# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

.env

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Lock files
package-lock.json
yarn.lock
# Mobile builds
*.apk
*.aab
*.ipa
*.app

# iOS specific
ios/
*.xcodeproj/
*.xcworkspace/
Pods/
*.pbxproj
*.plist
*.xcconfig

# Android specific
android/
*.gradle
local.properties
gradle-wrapper.jar
/.idea
*.iml
.gradle/
build/
release/
debug/
captures/
.externalNativeBuild
.cxx

